{% extends "base.html.twig" %}
{% block title %} Inscription {% endblock %}
{% block body %}
    <div class=" register">
        <h1>Inscription</h1>
        {{ form_start(form) }}
            <div class="col-md-6 register-top-grid">
                <div>
                    {{ form_row(form.prenom,{'attr':{'placeholder':"Prénom"}}) }}
                </div>
                <div>
                    {{ form_row(form.nom,{'attr':{'placeholder':"Nom"}}) }}
                </div>
                <div>
                    {{ form_row(form.mail,{'attr':{'placeholder':"Email"}}) }}
                </div>
            </div>
            <div class="col-md-6 register-bottom-grid">
                <div>
                    {{ form_row(form.pseudo,{'attr':{'placeholder':"Pseudo"}}) }}
                </div>
                <div>
                    {{ form_row(form.plainPassword.first,{'attr':{'placeholder':"Mot de passe"}}) }}
                </div>
                <div>
                    {{ form_row(form.plainPassword.second,{'attr':{'placeholder':"Confirmer mot de passe"}}) }}
                </div>
                <div>
                    {{ form_row(form.type_utilisateur) }}
                </div>
                <br><input class="pull-right" type="submit" value="S'inscrire" formnovalidate>

            </div>
            <div class="clearfix"></div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="{{ asset('js/my-js/inscription.js') }}"></script>
{% endblock %}