{% extends "base.html.twig" %}
{% block title %}Connexion {% endblock %}
{% block body %}
    <div class="account">
        <h1>Account</h1>
        <div class="account-pass">
            <div class="col-md-8 account-top">
                <form action="{{ path('security_login_check') }}" method="post">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData) }}
                        </div>
                    {% endif %}
                    <div>
                        <span>Identifiant</span>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="E-mail ou Pseudo"/>
                    </div>
                    <div>
                        <span>Mot de passe</span>
                        <input type="password" id="password" name="_password" placeholder="Mot de passe"/>
                    </div>
                    <input type="submit" value="Connexion">
                </form>
            </div>
            <div class="col-md-4 left-account ">
                <a href="single.html"><img class="img-responsive " src="{{ asset('images/s1.jpg') }}" alt=""></a>
                <div class="five">
                    <h2>25% </h2><span>discount</span>
                </div>
                <a href="{{ path('inscription') }}" class="create">Créer un compte</a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/my-js/login.js') }}"></script>
{% endblock %}