{% extends "base.html.twig" %}
{% block title %}Validation de l'inscription {% endblock %}
{% block body %}
    <div class="container">
        <br><br>
        <p>
            Un code de vérification vous a été envoyé par mail, Veuillez insérer ce code ci-dessous :
        </p>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <form action="{{ path('verif_code') }}" method="post">
                    <div class="form-group">
                        <input type="text" name="code" class="form-control" placeholder="Code de vérification">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-sm btn-success" value="Valider mon compte">
                    </div>
                    <!-- /.row -->
                </form>
            </div>
        </div>
        <form action="{{ path("renvoyer_code") }}" method="post">
            <div class="form-group">
                <input type="submit" value="Renvoyer la code de vérification" class="btn btn-default">
            </div>
        </form>
    </div>
    <!-- /.container -->
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/my-js/inscription.js') }}"></script>
{% endblock %}