{% extends 'admin/admin-base.html.twig' %}
{% block title%}
    {{ 'Modification du produit'~ produit.nom }}
{% endblock %}
{% block pageHeader %}
    <br>
    <h1 class="text-center">Modification d'un produit</h1><br>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-7     ">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Enregistrer les modification" class="btn btn-warning btn-xs center-block"/>
            {{ form_end(edit_form) }}
            <br>
            <ul class="list-inline">
                <li>
                    <a class="btn btn-default btn-sm" href="{{ path('admin_list_produits') }}">Retour a la liste des
                        produits</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer le produit" class="btn btn-xs btn-danger">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
        <div class="col-md-4" id="edit-produit">
            <div class="well well-sm text-center">
                {% if produit.media %}
                <img class="center-block img-responsive" id="image_produit" src="{{ asset('/medias/produits/' ~ produit.media.id ~'.'~ produit.media.url) }}"
                     alt="{{ produit.media.alt }}">
                {% else %}
                    <img class="center-block img-responsive" id="image_produit" src="{{ asset('/medias/produits/default.jpg' ) }}"
                         alt="default image">
                {% endif %}
                <i v-if="uploadingPp" class="fa fa-spinner fa-pulse" style="font-size:100px;color:greenyellow"></i>
                <form class="pp">
                    <div class="form-group">
                        <br>
                        <label class="btn btn-xs btn-primary" for="{{ produit.id }}">Changer la photo</label>
                        <input :disabled="uploadingPp" id="{{ produit.id }}" @change="uploadPP" name="pp" type="file" class="upload-file inputpp" accept="image/*">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/my-js/edit-produit.js') }}"></script>
    <script>
        $(document).ready(function () {
            $(".ma-boutique").removeClass("active");
        });
    </script>
{% endblock %}