<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}e-commerce{% endblock %}</title>
    {% block stylesheets %}
    <link href="{{ asset("bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset("css/styles-lumino.css") }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/simple-line-icons.css') }}" rel="stylesheet">
    <link href="{{ asset("css/style.css") }}" rel="stylesheet" type="text/css" media="all"/>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="ecommerce,e-commerce,vente en ligne,commerce,produit,achat,vente,senegal"/>
</head>
<body id="app">

{#<div class="header ">
   <div class="header-top">
       <div class="container">
           <div class="search">
               <form>
                   <input type="text" value="Search " onfocus="this.value = '';"
                          onblur="if (this.value == '') {this.value = 'Search';}">
                   <input type="submit" value="rechercher">
               </form>
           </div>
           <div class="header-left">
               <ul>
                   {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                       <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                   {% endif %}

               </ul>
               <!--  <div class="cart box_1">
                   <a href="checkout.html">
                       <h3>
                           <div class="total">
                               <span class="simpleCart_total"></span> (<span id="simpleCart_quantity"
                                                                             class="simpleCart_quantity"></span> items)
                           </div>
                           <img src="{{ asset('images/cart.png') }}" alt=""/></h3>
                   </a>
                   <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>

               </div>-->
               <div class="clearfix"></div>
           </div>
           <div class="clearfix"></div>
       </div>
   </div>
</div>
-->
<div class="container">
   <div class="row">
       {% for msg in app.session.flashBag.get("success") %}
           <br>
           <div class=" alert alert-success col-md-12">
               {{ msg }}
           </div>
           <!-- /.alert alert-success -->
       {% endfor %}
   </div>
   <div class="row">
       {% for msg in app.session.flashBag.get("danger") %}
           <br>
           <div class=" alert alert-danger col-md-12">
               {{ msg }}
           </div>
           <!-- /.alert alert-success -->
       {% endfor %}
   </div>
   <div class="row">
       {% for msg in app.session.flashBag.get("warning") %}
           <br>
           <div class=" alert alert-warning col-md-12">
               {{ msg }}
           </div>
           <!-- /.alert alert-success -->
       {% endfor %}
   </div>
</div>

<div>

   {% block body %}
   {% endblock %}
</div> <!-- block body --> #}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- Toggle menu gauche -->
            <a class="navbar-brand" href="{{ path('ma_boutique') }}"><span>Ma </span>Boutique</a>
            <a href="#" @click="toggleSideBar" class="navbar-brand glyphicon glyphicon-align-justify"></a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <svg class="glyph stroked male-user">
                            <use xlink:href="#stroked-male-user"></use>
                        </svg> {{ app.user.pseudo }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('logout') }}">
                                <svg class="glyph stroked cancel">
                                    <use xlink:href="#stroked-cancel"></use>
                                </svg>
                                Dèconexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" v-if="showAside" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li id="menu-ma-boutique" class="ma-boutique active"><a href="{{ path('ma_boutique') }}">
                <svg class="glyph stroked dashboard-dial">
                    <use xlink:href="#stroked-dashboard-dial"></use>
                </svg>
                Ma boutique</a></li>
        <li class="ma-boutique" id="menu-ajouter-produit"><a href="{{ path('produit_new') }}">
                <svg class="glyph stroked calendar">
                    <use xlink:href="#stroked-calendar"></use>
                </svg>
                Ajouter un produit</a></li>
        {#<li class="ma-boutique"><a href="charts.html">
                <svg class="glyph stroked line-graph">
                    <use xlink:href="#stroked-line-graph"></use>
                </svg>
                Charts</a></li>
        <li class="ma-boutique"> <a href="tables.html">
                <svg class="glyph stroked table">
                    <use xlink:href="#stroked-table"></use>
                </svg>
                Tables</a></li>
        <li class="ma-boutique"><a href="forms.html">
                <svg class="glyph stroked pencil">
                    <use xlink:href="#stroked-pencil"></use>
                </svg>
                Forms</a></li>
        <li><a href="panels.html">
                <svg class="glyph stroked app-window">
                    <use xlink:href="#stroked-app-window"></use>
                </svg>
                Alerts &amp; Panels</a></li>
        <li><a href="icons.html">
                <svg class="glyph stroked star">
                    <use xlink:href="#stroked-star"></use>
                </svg>
                Icons</a></li>
        <li class="parent ">
            <a href="#">
                <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down">
                        <use xlink:href="#stroked-chevron-down"></use>
                    </svg></span> Dropdown
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right">
                            <use xlink:href="#stroked-chevron-right"></use>
                        </svg>
                        Sub Item 1
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right">
                            <use xlink:href="#stroked-chevron-right"></use>
                        </svg>
                        Sub Item 2
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right">
                            <use xlink:href="#stroked-chevron-right"></use>
                        </svg>
                        Sub Item 3
                    </a>
                </li>
            </ul>
        </li>
        <li role="presentation" class="divider"></li>
        <li><a href="login.html">
                <svg class="glyph stroked male-user">
                    <use xlink:href="#stroked-male-user"></use>
                </svg>
                Login Page</a></li>#}
    </ul>

</div><!--/.sidebar-->

<div   :class="{'col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2':showAside,'col-sm-12 col-lg-12':!showAside}">
    <div class="row">
        <ol class="breadcrumb">
            {% block breadcrumb %}
                <li><a href="{{ path('homepage') }}">
                        <svg class="glyph stroked home">
                            <use xlink:href="#stroked-home"></use>
                        </svg>
                    </a></li>
                <li class="active">Ma boutique</li>
            {% endblock %}
        </ol>
    </div><!-- .row pour breadcrumb-->

    <div class="row">
        <div class="col-lg-12">
            {% block pageHeader %}
                <h1 class="page-header">
                    Ma boutique
                </h1>
            {% endblock %}
        </div>
    </div><!-- .row page header-->

    {% block body %}
    {% endblock %}
</div>    <!--/.main-->

{% block javascript %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/lumino.glyphs.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/vue.js') }}"></script>
    <script src="{{ asset('js/vue-resource.js') }}"></script>
    <script src="{{ asset('js/my-js/boutique-base.js') }}"></script>
{% endblock %}
</body>
</html>
