<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}e-commerce{% endblock %}</title>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="ecommerce,e-commerce,vente en ligne,commerce,produit,achat,vente,senegal"/>
    {% block stylesheets %}
        <link href="{{ asset("bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" type="text/css" media="all"/>
        <!-- Custom Theme files -->
        <!--theme-style-->
        <link href="{{ asset("css/style.css") }}" rel="stylesheet" type="text/css" media="all"/>
        <!--fonts-->
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        <!--//fonts-->
        <link href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- start menu -->
        <link href="{{ asset('css/memenu.css') }}" rel="stylesheet" type="text/css" media="all"/>
    {% endblock %}
</head>
<body >
<!--header-->
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="search">
                <form>
                    <input type="text" value="Search " onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="submit" value="Go">
                </form>
            </div>
            <div class="header-left">
                <ul>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_VENDEUR') %}
                            <li><a href="{{ path('ma_boutique') }}">Ma boutique</a></li>
                        {% endif %}
                        <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('security_login') }}">Me connecter</a></li>
                        <li><a href="{{ path('inscription') }}">Inscription</a></li>
                    {% endif %}

                </ul>
                 <div class="cart box_1">
                    <a  href="{{ path('mon-panier') }}">
                        <h3 class="mon-panier">
                            <div class="total">
                                 (<span></span> {% verbatim %} {{total}} {{total|pluralize 'article'}} {% endverbatim %})
                            </div>
                            <img  src="{{ asset('images/cart.png') }}" alt=""/></h3>
                    </a>
                    <p class="simpleCart_empty" v-if="total == 0">Panier vide</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="head-top">
            <div class="logo">
                <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo.png') }}" alt=""></a>
            </div>
            <div class=" h_menu4">
                <ul class="memenu skyblue">
                    <li class="menu-home grid" id="accueil"><a class="color1" href="{{ path('homepage') }}">Accueil</a></li>
                    <li class="menu-home " id="categorie"><a class="color2" href="{{ path('categories_list') }}">Catégories</a>
                       <!-- <div class="mepanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <ul>
                                            <li><a href="products.html">Accessories</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <ul>
                                            <li><a href="products.html">Shirts</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Popular Brands</h4>
                                        <ul>
                                            <li><a href="products.html">Levis</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </li>
                    <li class="menu-home grid" id="les-boutiques"><a class="color3" href="{{ path('les-boutiques') }}"> Les boutiques</a>
                       <!-- <div class="mepanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <ul>
                                            <li><a href="products.html">Accessories</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <ul>
                                            <li><a href="products.html">Shirts</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Popular Brands</h4>
                                        <ul>
                                            <li><a href="products.html">Levis</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        {% for msg in app.session.flashBag.get("success") %}
            <br>
            <div class=" alert alert-success col-md-12 fade in">
                {{ msg }}
            </div>
            <!-- /.alert alert-success -->
        {% endfor %}
    </div>
    <div class="row">
        {% for msg in app.session.flashBag.get("danger") %}
            <br>
            <div class=" alert alert-danger col-md-12 fade in">
                {{ msg }}
            </div>
            <!-- /.alert alert-success -->
        {% endfor %}
    </div>
    <div class="row">
        {% for msg in app.session.flashBag.get("warning") %}
            <br>
            <div class=" alert alert-warning col-md-12 fade in">
                {{ msg }}
            </div>
            <!-- /.alert alert-success -->
        {% endfor %}
    </div>
</div>
<!-- /.container -->

<div>
    {% block body %}
    {% endblock %}
</div>
<div class="footer">
    <div class="container">
        <div class="footer-top-at">

            <div class="col-md-4 amet-sed">
                <h4>Plus d'infos</h4>
                <ul class="nav-bottom">
                    <li><a href="#">Comment commander</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Partenaires</a></li>
                </ul>
            </div>
            <div class="col-md-4 amet-sed ">
                <h4>Contactez nous</h4>

                <p>
                    Diamalaye 3, Dakar</p>
                <p>Senegal</p>
                <p>Tel: +221 77 218 64 76</p>
                <ul class="social">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i class="twitter"> </i></a></li>
                    <li><a href="#"><i class="rss"> </i></a></li>
                    <li><a href="#"><i class="gmail"> </i></a></li>

                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-class">
        <p>© 2016 Tous les droits sont reservés | Developpé par talibehackeur
    </div>
</div>
{% block javascript %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset("js/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset('js/memenu.js') }}"></script>
    <script>$(document).ready(function () {
            $(".memenu").memenu();
        });</script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/simpleCart.min.js') }}"></script>
    <script src="{{ asset('js/vue.js') }}"></script>
    <script src="{{ asset('js/vue-resource.js') }}"></script>
    <script src="{{ asset('js/my-js/shared.js') }}"></script>
{% endblock %}
</body>
</html>
