{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner">
        <div class="container">
            <div id="top" class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <div class="banner-text">
                            <h3>Lorem Ipsum is not simply dummy </h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of
                                classical Latin
                            </p>
                            <a href="#">Learn More</a>

                        </div>

                    </li>
                    <li>

                        <div class="banner-text">
                            <h3>There are many variations </h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of
                                Latin professor .</p>
                            <a href="#">Learn More</a>

                        </div>

                    </li>
                    <li>
                        <div class="banner-text">
                            <h3>Sed ut perspiciatis unde omnis</h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of
                                Latin professor .</p>
                            <a href="#">Learn More</a>

                        </div>

                    </li>
                </ul>
            </div>

        </div>
    </div> <!-- Fin du rslide -->

    <!--content-->
    <div class="content">
        <div class="container">
            <div class="content-top">
                <h1>Quelques catégories</h1>
                <div class="grid-in">
                    <div class="row">
                        {% for categorie in categories %}
                            <div class="col-md-3   col-xs-6">
                                <a href="{{ path('categorie_produit',{'id':categorie.id}) }}"
                                   class="b-link-stripe b-animate-go  thickbox thumbnail"><img class="img-responsive"
                                                                                               src="{{ asset("medias/categories/"~categorie.media.id~'.'~categorie.media.url) }}"
                                                                                               alt="{{ categorie.media.alt }}">
                                    <div class="b-wrapper">
                                        <h3 class="b-animate b-from-left    b-delay03 ">
                                            <span>{{ categorie.nom }}</span>
                                        </h3>
                                    </div>
                                </a>


                                <a class="btn btn-link text-center center-block"
                                   href="{{ path('categorie_produit',{'id':categorie.id}) }}">
                                    <h4>{{ categorie.nom|truncate }}</h4>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- /.row -->
                    <div class="clearfix"></div>
                </div>
            </div>
            <!----->
            <div class="row bande-pub">
                <h1 style="color: orangered;text-align: center">Votre pubilicité ici </h1>
            </div>
            <!-- /.row -->
            <br><br>
            <div class="content-top-bottom">
                <h2>Les meilleurs produits</h2>
                <div class="row">
                    {% for produit in meilleursProduits %}
                        {% include(":produit:_col-produit.html.twig") %}
                    {% endfor %}
                </div>
                <!-- /.row -->
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
    <!---->
    <div class="content-bottom">
        <ul>
            <li><a href="#"><img class="img-responsive" src="{{ asset("images/lo.png") }}" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="{{ asset("images/lo1.png") }}" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="{{ asset("images/lo2.png") }}" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="{{ asset("images/lo3.png") }}" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="{{ asset("images/lo4.png") }}" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="{{ asset("images/lo5.png") }}" alt=""></a></li>
            <div class="clearfix"></div>
        </ul>
    </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/responsiveslides.min.js') }}"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <script src="{{ asset('ratings/js/star-rating.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/my-js/shared.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/my-js/index.js') }}" type="text/javascript"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('ratings/css/star-rating.min.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/my-css.css') }}">
{% endblock %}