{% extends 'base.html.twig' %}
{% block title%}
    {{ 'Boutique | ' ~boutique.pseudo }}
{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 20px">
        <div class="row well well-sm">
            <div class="col-lg-12">
                <div class="row" id="pc"
                     style="height:350px; margin: 5px; background: #00ACED no-repeat;background-size: cover; background-image: url('{{ boutique.photoCouverture ?'/medias/pc/'~boutique.photoCouverture.id ~'.'~boutique.photoCouverture.url:'' }}');">

                    <div id="pp"
                         style="background-color: #1b6d85; height:200px; margin: 5px; width:250px;bottom: 2%;position:absolute;background-size:cover; background-image: url('{{ boutique.photoProfile ?'/medias/pp/'~boutique.photoProfile.id ~'.'~boutique.photoProfile.url:'' }}');border:solid white;">
                        <div style="position:absolute; bottom: -0%;width:244px;" class="btn btn-sm btn-primary">
                                <h4>
                                    {{ boutique.pseudo|upper|truncate(27)}}
                                </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 pull-right ">

                <a   href="{{ path('show_boutique', {'id': boutique.id,'mode':'liste','page':pager.currentPage}) }}">
                    <i class="fa fa-th-list" aria-hidden="true" style="font-size: 40px;cursor: pointer;"></i>
                </a>
                <a href="{{ path('show_boutique', {'id': boutique.id,'mode':'mosaic','page':pager.currentPage}) }}">
                    <i class="fa fa-th" aria-hidden="true" style="font-size: 40px;margin-left: 20px;cursor: pointer"></i>
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            {% for produit in produits %}
                {% if mode == 'liste' %}
                    {% include(":produit:_row-produit.html.twig") %}
                {% else %}
                    {% include(":produit:_col-produit.html.twig") %}
                {% endif %}
            {% else %}
                <h1>Oups</h1>
                <p>
                    Cette boutique n'a pas encore de produit
                </p>
            {% endfor %}
        </div>

        {% if pager.nbPages > 1 %}
            <div class="row center-block text-center">
                {{ pagerfanta(pager,'twitter_bootstrap3_translated') }}
            </div>
        {% endif %}
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/my-css.css') }}">
    <link href="{{ asset('ratings/css/star-rating.min.css') }}" media="all" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('ratings/js/star-rating.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/my-js/detail-boutique.js') }}"></script>
{% endblock %}
