{% extends 'base.html.twig' %}
{% block title 'Les boutiques' %}
{% block body %}
    <div class="container">
        <br>
        <div class="row" >
        <!-- /.row -->
        {% for boutique in boutiques %}
            <div class="col-md-3 grid-top">
                <a href="{{ path('show_boutique',{'id':boutique.id}) }}"
                   class="b-link-stripe b-animate-go  thickbox thumbnail">
                    {% if boutique.photoProfile %}
                        <img class="img-responsive"
                             src="{{ asset("medias/pp/"~boutique.photoProfile.id~'.'~boutique.photoProfile.url) }}"
                             alt="{{ boutique.photoProfile.alt }}">
                    {% else %}
                        <img class="img-responsive"
                             src="{{ asset("medias/pp/default.jpg") }}"
                             alt="default">
                    {% endif %}
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-left    b-delay03 ">
                            <span>{{ boutique.pseudo }}</span>
                        </h3>
                    </div>
                </a>


                <a class="btn btn-link text-center center-block" href="{{ path('show_boutique',{'id':boutique.id}) }}">
                    <h4>{{ boutique.pseudo }}</h4>
                </a>
            </div>
        {% else %}
                <h2>Oups</h2>
                <p>
                    Pas de boutique encore!!
                </p>
            <!-- /.row -->
        {% endfor %}
        </div>

        {% if pager.nbPages > 1 %}
            <div class="row center-block text-center">
                {{ pagerfanta(pager,'twitter_bootstrap3_translated') }}
            </div>
        {% endif %}
    </div><br><br>
    <!-- /.continer -->
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/my-js/les-boutiques.js') }}">
    </script>
{% endblock %}