{% extends 'base.html.twig' %}
{% block title "Les catégories" %}
{% block body %}
    <div class="container">
        <div class="grid-in">
            {% for categorie in categories %}
                <div class="col-md-3 grid-top">
                    <a href="{{ path('categorie_produit',{'id':categorie.id}) }}"
                       class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive thumbnail"
                                                                         src="{{ asset("medias/categories/"~categorie.media.id~'.'~categorie.media.url) }}"
                                                                         alt="{{ categorie.media.alt }}">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>{{ categorie.nom }}</span>
                            </h3>
                        </div>
                    </a>


                        <a class="btn btn-link text-center center-block" href="{{ path('categorie_produit',{'id':categorie.id}) }}">
                            <h4>{{ categorie.nom }}</h4>
                        </a>
                </div>
                {% else %}
                <div class="col-md-12">
                    <h1>
                        Oups!!!
                    </h1>
                    <p>
                        Il n'y a pas encore de prpoduit pour cette catégorie, revenez plus tard
                    </p>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
        {% if pager.nbPages > 1 %}
            <div class="row center-block text-center">
                {{ pagerfanta(pager,'twitter_bootstrap3_translated') }}
            </div>
        {% endif %}
    </div>
    <!-- /.container -->
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/my-js/list-categorie.js') }}" ></script>
{% endblock %}