{% extends "base.html.twig" %}
{% block title %} Inscription {% endblock %}
{% block body %}
    <div style="margin-top: 100px" class=" register">
        <h1 class="center-block text-center">Inscription</h1>
        {{ form_start(form) }}
        <div class="col-md-6 register-top-grid">
            <div>
                {{ form_row(form.prenom,{'attr':{'placeholder':"Prénom"}}) }}
            </div>
            <div>
                {{ form_row(form.nom,{'attr':{'placeholder':"Nom"}}) }}
            </div>
            <div>
                {{ form_row(form.mail,{'attr':{'placeholder':"Email"}}) }}
            </div>
        </div>
        <div class="col-md-6 register-bottom-grid">
            <div>
                {{ form_row(form.pseudo,{'attr':{'placeholder':"Pseudo"}}) }}
            </div>
            <div>
                {{ form_row(form.adresse,{'attr':{'placeholder':"Adresse"}}) }}
            </div>
            <div>
                {{ form_row(form.plainPassword.first,{'attr':{'placeholder':"Mot de passe"}}) }}
            </div>
            <div>
                {{ form_row(form.plainPassword.second,{'attr':{'placeholder':"Confirmer mot de passe"}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 center-block text-center">
                <input class="btn btn-success" type="submit" value="S'inscrire" formnovalidate>
            </div>
        </div>
        <div class="clearfix"></div>
        {{ form_end(form) }}
    </div>
    <div style="margin-bottom: 5px"></div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/my-js/inscription.js') }}"></script>
{% endblock %}