{% extends "base.html.twig" %}
{% block title %}Connexion {% endblock %}
{% block body %}
    <div class="container" style="margin-top: 100px">
        <form action="{{ path('security_login_check') }}" method="post">
            <div class="row">
                <div class="col-xs-12">
                    <span>Identifiant</span>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
                           placeholder="E-mail ou Pseudo"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span>Mot de passe</span>
                    <input class="form-control" type="password" id="password" name="_password"
                           placeholder="Mot de passe"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 center-block text-center">
                    <input class="btn btn-success" type="submit" value="Connexion">
                </div>
            </div>
        </form>
        <div class="clearfix" style="margin-bottom: 40px"></div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/my-js/login.js') }}"></script>
{% endblock %}