{% extends "base.html.twig" %}
{% block title %} Modification de profil {% endblock %}
{% block body %}
    <div style="margin-top: 100px" class=" register">
        <h1 class="center-block text-center">Modification de profil</h1>
        {{ form_start(edit_form) }}
        <div class="col-md-6 register-top-grid">
            <div>
                {{ form_row(edit_form.prenom,{'attr':{'placeholder':"Prénom"}}) }}
            </div>
            <div>
                {{ form_row(edit_form.nom,{'attr':{'placeholder':"Nom"}}) }}
            </div>
            <div>
                {{ form_row(edit_form.mail,{'attr':{'placeholder':"Email"}}) }}
            </div>
        </div>
        <div class="col-md-6 register-bottom-grid">
            <div>
                {{ form_row(edit_form.pseudo,{'attr':{'placeholder':"Pseudo"}}) }}
            </div>
            <div>
                {{ form_row(edit_form.adresse,{'attr':{'placeholder':"Adresse"}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 center-block text-center">
                <input class="btn btn-success" type="submit" value="Enregistrer les modifications" formnovalidate>
            </div>
        </div>
        <div class="clearfix"></div>
        {{ form_end(edit_form) }}
    </div>
    <div style="margin-bottom: 5px"></div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/my-js/inscription.js') }}"></script>
{% endblock %}