{% extends "base.html.twig" %}
{% block title %}Validation de l'inscription {% endblock %}
{% block body %}
    <div class="container">
        <br>
        <p>
            Un code de vérification vous a été envoyé par mail, Veuillez insérer le code ci-dessous :
        </p><br>
        <div class="row">
            <div class="col-lg-12">
                <form action="{{ path('verif_code') }}" method="post">
                    <div class="form-group">

                        <span>Email</span>
                        <input type="text" id="mail" name="email" class="form-control" placeholder="Votre mail">
                    </div>
                    <div class="form-group">
                        <span>Code:</span>
                        <input type="text" name="code" class="form-control" placeholder="Code de vérification">
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-xs btn-default" vlaue="Valider mon compte">
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="">
                <form action="{{ path("renvoyer_code") }}" method="post">
                    <input type="hidden" name="mail_hidden" id="mail_hidden">
                    <input class="btn btn-sm btn-warning" type="submit" value="Renvoyer la code de vérification">
                </form>
            </div>
        </div>
        <br>
    </div>
    <!-- /.container -->
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('#mail').on('input', function () {
                $('#mail_hidden').val($('#mail').val());
            });
        });
    </script>
    <script src="{{ asset('js/my-js/inscription.js') }}"></script>
{% endblock %}