<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ asset('tshop/HTML/assets/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ asset('tshop/HTML/assets/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ asset('tshop/HTML/assets/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57"
          href="{{ asset('tshop/HTML/assets/ico/apple-touch-icon-57-precomposed.png') }}">
    <link rel="shortcut icon" href="{{ asset('tshop/HTML/assets/ico/favicon.png') }}">
    <title>{% block title %}e-commerce{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('tshop/HTML/assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- styles needed by swiper slider -->
        <link href="{{ asset('tshop/HTML/assets/plugins/swiper-master/css/swiper.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('tshop/HTML/assets/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('css/my_css.css') }}" rel="stylesheet">
    {% endblock %}
    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->

    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <script src="{{ asset('tshop/HTML/assets/js/pace.min.js') }}"></script>
</head>

<body id="app">


<!-- Fixed navbar start(TOP) -->
<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
    <div class="navbar-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                    <div class="pull-left ">
                        <ul class="userMenu ">
                            <li><a href="#"> <span class="hidden-xs">Besoin d'aide ?</span><i
                                            class="glyphicon glyphicon-info-sign hide visible-xs "></i> </a></li>
                            <li class="phone-number"><a href="callto:+221 77 218 64 76"> <span> <i
                                                class="glyphicon glyphicon-phone-alt "></i></span> <span
                                            class="hidden-xs"
                                            style="margin-left:5px"> +221 77 218 64 76 </span>
                                </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                    <div class="pull-right">
                        {% if app.user %}
                            <ul class="userMenu">
                                <li><a href="{{ path('modifier-profil', {'id': app.user.id}) }}"> <span
                                                class="hidden-xs">Modifier profil</span>
                                        <i class="glyphicon glyphicon-user hide visible-xs "></i> </a></li>
                                <li><a href="{{ path('logout') }}"> <span class="hidden-xs">Dèconnexion </span>
                                        <i class="glyphicon glyphicon-log-out hide visible-xs "></i> </a></li>
                            </ul>
                        {% else %}
                            <ul class="userMenu">
                                <li><a href="{{ path('security_login') }}"> <span class="hidden-xs">Se connecter</span>
                                        <i class="glyphicon glyphicon-log-in hide visible-xs "></i> </a></li>
                                <li><a href="{{ path('inscription') }}"> <span class="hidden-xs">Créer
                                        un compte</span>
                                        <i class="glyphicon glyphicon-new-window hide visible-xs "></i> </a></li>

                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.navbar-top-->

    <div class="container" id="top-menu">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                        class="icon-bar"> </span> <span class="icon-bar"> </span></button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"><i
                        class="fa fa-shopping-cart colorWhite"> </i>
                <span
                        class="cartRespons colorWhite">
                    Panier ({% verbatim %} {{total}} {{total|pluralize 'article'}} {% endverbatim %})
                    </span>
            </button>
            <a onmouseover="this.style.background='#007BB4';this.style.color='white';" onmouseout="this.style.background='';this.style.color='';" class="navbar-brand"  href="{{ path('homepage') }}"> FoodStatic </a>

            <!-- this part for mobile -->
            <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                <div class="input-group">
                    <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>
                </div>
                <!-- /input-group -->

            </div>
        </div>

        <!-- this part is duplicate from cartMenu  keep it for mobile -->
        <div class="navbar-cart  collapse">
            <div class="cartMenu  col-lg-4 col-xs-12 col-md-4 ">
                <div class="w100 miniCartTable scroll-pane">
                    <table>
                        <tbody>
                        {% verbatim %}
                        <tr class="miniCartProduct" v-for="p in produits">
                            <td style="width:20%" class="miniCartProductThumb">
                               <div><a :href="urlDetailProduit(p.id)">
                                  <img v-if="p.media"
                                      :src ="'/medias/produits_fit/'+p.media.id+'.'+p.media.url"
                                       :alt=" p.media.alt">
                                  <img v-else class="img-responsive" src="/medias/produits/default.jpg" style="height: 80px"
                                          alt="default">
                                      </a>
                                      </div>
                            </td>
                            <td style="width:40%">
                                <div class="miniCartDescription">
                                  <h4><a :href="urlDetailProduit(p.id)"> {{p.nom}} </a></h4>
                                  <div class="price"><span> {{p.prix|number 2}} EUROS </span></div>
                              </div>
                            </td>
                            <td style="width:10%" class="miniCartQuantity"> X  {{panier[p.id]}}</td>
                            <td style="width:15%" class="miniCartSubtotal"><span>{{ (p.prix * panier[p.id])|number 2}} EUROS</span></td>
                            <td style="width:5%" class="delete"><a @click="enleverDansPanier(p)"> <i class="fa fa-times" aria-hidden="true" style="color: orangered;"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--/.miniCartTable-->

                <div class="miniCartFooter  miniCartFooterInMobile text-right">
                    <h3 class="text-right subtotal" v-if="produits && loaded"> Total: {{prixTotal|number 2}} EUROS</h3>
                    <h3 class="text-right subtotal" v-else="!produits && loaded"> Total: 0.00 EUROS</h3>
                    {% endverbatim %}
                        <a class="btn btn-sm btn-danger" href="{{ path('mon-panier') }}"> <i
                                    class="fa fa-shopping-cart"> </i>
                            VOIR MON PANIER
                        </a> <a href="{{ path('checkout') }}"
                                class="btn btn-sm btn-primary"> CHECKOUT </a>
                </div>
                <!--/.miniCartFooter-->

            </div>
            <!--/.cartMenu-->
        </div>
        <!--/.navbar-cart-->

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="accueil" class="menu-home active"><a href="{{ path('homepage') }}"> Accueil </a></li>
                {% for ville in villes %}
                    <li id="{{ ville.id }}" class="menu-home"><a
                                href="{{ path('show_catalogue', {'name': ville.nom}) }}">{{ ville.nom }}</a></li>
                {% endfor %}
            </ul>

            <!--- this part will be hidden for mobile version -->
            <div class="nav navbar-nav navbar-right hidden-xs">
                <div class="dropdown  cartMenu ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-shopping-cart"> </i>
                        <span class="cartRespons">
                            Panier ({% verbatim %} {{total}} {{total|pluralize 'article'}} {% endverbatim %})
                        </span>
                        <b class="caret"> </b>
                    </a>

                    <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4 ">
                        <div class="w100 miniCartTable scroll-pane">
                            {% verbatim %}
                            <table>
                                <tbody>
                                <tr class="miniCartProduct" v-for="p in produits">
                                    <td style="width:20%" class="miniCartProductThumb">
                                        <div><a :href="urlDetailProduit(p.id)">
                                        <img v-if="p.media"
                                            :src ="'/medias/produits_fit/'+p.media.id+'.'+p.media.url"
                                             :alt=" p.media.alt">
                                        <img v-else class="img-responsive" src="/medias/produits/default.jpg" style="height: 80px"
                                                alt="default">
                                            </a>
                                            </div>
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a :href="urlDetailProduit(p.id)"> {{p.nom}} </a></h4>
                                            <div class="price"><span> {{p.prix|number 2}} EUROS </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"> X  {{panier[p.id]}}</td>
                                    <td style="width:15%" class="miniCartSubtotal"><span>{{ (p.prix * panier[p.id])|number 2}} EUROS</span></td>
                                    <td style="width:5%" class="delete"><a @click="enleverDansPanier(p)"><i class="fa fa-times" aria-hidden="true" style="color: orangered;font-size: large"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--/.miniCartTable-->

                        <div class="miniCartFooter text-right">
                            <h3 class="text-right subtotal" v-if="produits && loaded"> Total: {{prixTotal|number 2}} EUROS</h3>
                            <h3 class="text-right subtotal" v-else="!produits && loaded"> Total: 0.00 EUROS</h3>
                                                                          {% endverbatim %}

                            <a class="btn btn-sm btn-danger" href="{{ path('mon-panier') }}"> <i
                                        class="fa fa-shopping-cart"> </i>
                                VOIR MON PANIER</a><a
                                    class="btn btn-sm btn-primary" href="{{ path('checkout') }}"> CHECKOUT </a></div>
                        <!--/.miniCartFooter-->

                    </div>
                    <!--/.dropdown-menu-->
                </div>
                <!--/.cartMenu-->

                <div class="search-box">
                    <div class="input-group">
                        <button class="btn btn-nobg getFullSearch" type="button"><i
                                    class="fa fa-search"> </i></button>
                    </div>
                    <!-- /input-group -->

                </div>
                <!--/.search-box -->
            </div>
            <!--/.navbar-nav hidden-xs-->
        </div>
        <!--/.nav-collapse -->

    </div>
    <!--/.container -->

    <div class="search-full text-right"><a class="pull-right search-close"> <i
                    class=" fa fa-times-circle"> </i> </a>

        <div class="searchInputBox pull-right">
            <input type="search" data-searchurl="search?=" name="q"
                   placeholder="start typing and hit enter to search"
                   class="search-input">
            <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
        </div>
    </div>
    <!--/.search-full-->

</div>
<!-- /.Fixed navbar  -->

<div style="margin-top: 100px"></div>
<div class="container">
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Well done!</strong> {{ message }}
            <a href="javascript:void(0)" class="alert-link"></a>.
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('danger') %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Erreur!!!</strong> {{ message }}
            <a href="javascript:void(0)" class="alert-link"></a>.
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('warning') %}
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Attention!</strong> {{ message }}
            <a href="javascript:void(0)" class="alert-link"></a>.
        </div>
    {% endfor %}
</div>

{% block body %}

{% endblock %}
<!-- Product Details Modal  -->
<!-- Modal -->
<div class="modal fade" id="productSetailsModalAjax" tabindex="-1" role="dialog"
     aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Aperçu du produit</h4>
        </div>
        <div class="modal-content">
            <p class="center-block text-center">
                <strong>
                    Chargement ... <br>
                </strong>
                <span class="fa fa-circle-o-notch fa-spin" style="font-size:50px;color:black;"></span>
            </p>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- End Modal -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h3> Support </h3>
                    <ul>
                        <li class="supportLi">
                            <p> Lorem ipsum dolor sit amet, consectetur </p>
                            <h4><a class="inline" href="callto:+12025550151"> <strong> <i
                                                class="fa fa-phone"> </i>
                                        +221 77 218 64 76 </strong> </a></h4>
                            <h4><a class="inline" href="mailto:help@yourweb.com"> <i
                                            class="fa fa-envelope-o"> </i>
                                    contact@rakintak.com </a></h4>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Shop </h3>
                    <ul>
                        <li><a href="#">
                                Men's
                            </a></li>
                        <li><a href="#">
                                Women's</a></li>
                        <li><a href="#">
                                Kids'
                            </a></li>
                        <li><a href="#">Shoes
                            </a></li>
                        <li><a href="#">
                                Gift Cards
                            </a></li>

                    </ul>

                </div>

                <div style="clear:both" class="hide visible-xs"></div>

                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Information </h3>
                    <ul class="list-unstyled footer-nav">
                        <li><a href="#">Questions?
                            </a></li>

                        <li><a href="#"> Order Status
                            </a></li>
                        <li><a href="#"> Sizing Charts
                            </a></li>
                        <li><a href="#"> Return Policy </a></li>
                        <li><a href="#">
                                Contact Us
                            </a></li>

                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> My Account </h3>
                    <ul>
                        <li><a href="account.html"> My Account </a></li>
                        <li><a href="my-address.html"> My Address </a></li>
                        <li><a href="wishlist.html"> Wish List </a></li>
                        <li><a href="order-list.html"> Order list </a></li>
                        <li><a href="order-status.html"> Order Status </a></li>
                    </ul>
                </div>

                <div style="clear:both" class="hide visible-xs"></div>

                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Stay in touch </h3>
                    <ul>
                        <li>
                            <div class="input-append newsLatterBox text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> Subscribe <i
                                            class="fa fa-long-arrow-right"> </i></button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li><a href="http://facebook.com"> <i class=" fa fa-facebook"> &nbsp; </i> </a></li>
                        <li><a href="http://twitter.com"> <i class="fa fa-twitter"> &nbsp; </i> </a></li>
                        <li><a href="https://plus.google.com"> <i class="fa fa-google-plus"> &nbsp; </i>
                            </a></li>
                        <li><a href="http://youtube.com"> <i class="fa fa-pinterest"> &nbsp; </i> </a></li>
                        <li><a href="http://youtube.com"> <i class="fa fa-youtube"> &nbsp; </i> </a></li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> &copy; TSHOP 2014. All right reserved. </p>

            <div class="pull-right paymentMethodImg"><img height="30" class="pull-right"
                                                          src="{{ asset('tshop/HTML/images/site/payment/master_card.png') }}"
                                                          alt="img"> <img
                        height="30" class="pull-right"
                        src="{{ asset('tshop/HTML/images/site/payment/visa_card.png') }}"
                        alt="img"><img
                        height="30"
                        class="pull-right"
                        src="{{ asset('tshop/HTML/images/site/payment/paypal.png') }}"
                        alt="img">
                <img height="30" class="pull-right"
                     src="{{ asset('tshop/HTML/images/site/payment/american_express_card.png') }}"
                     alt="img"> <img
                        height="30" class="pull-right"
                        src="{{ asset('tshop/HTML/images/site/payment/discover_network_card.png') }}"
                        alt="img">
                <img height="30" class="pull-right"
                     src="{{ asset('tshop/HTML/images/site/payment/google_wallet.png') }}" alt="img">

            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>

<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
{% block javascripts %}
    <script type="text/javascript" src="{{ asset("js/jquery.min.js") }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('tshop/HTML/assets/plugins/swiper-master/js/swiper.jquery.min.js') }}"></script>
    <script>


        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.nextControl',
            prevButton: '.prevControl',
            keyboardControl: true,
            paginationClickable: true,
            slidesPerView: 'auto',
            autoResize: true,
            resizeReInit: true,
            spaceBetween: 0,
            freeMode: true
        });


    </script>

    <!-- include jqueryCycle plugin -->
    <script src="{{ asset('tshop/HTML/assets/js/jquery.cycle2.min.js') }}"></script>

    <!-- include easing plugin -->
    <script src="{{ asset('tshop/HTML/assets/js/jquery.easing.1.3.js') }}"></script>

    <!-- include  parallax plugin -->
    <script type="text/javascript"
            src="{{ asset('tshop/HTML/assets/js/jquery.parallax-1.1.js') }}"></script>

    <!-- optionally include helper plugins -->
    <script type="text/javascript"
            src="{{ asset('tshop/HTML/assets/js/helper-plugins/jquery.mousewheel.min.js') }}"></script>

    <!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

    <script type="text/javascript"
            src="{{ asset('tshop/HTML/assets/js/jquery.mCustomScrollbar.js') }}"></script>

    <!-- include icheck plugin // customized checkboxes and radio buttons   -->
    <script type="text/javascript"
            src="{{ asset('tshop/HTML/assets/plugins/icheck-1.x/icheck.min.js') }}"></script>

    <!-- include grid.js // for equal Div height  -->
    <script src="{{ asset('tshop/HTML/assets/js/min/grids.min.js') }}"></script>

    <!-- include carousel slider plugin  -->
    <script src="{{ asset('tshop/HTML/assets/js/owl.carousel.min.js') }}"></script>

    <!-- jQuery select2 // custom select   -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

    <!-- include touchspin.js // touch friendly input spinner component   -->
    <script src="{{ asset('tshop/HTML/assets/js/bootstrap.touchspin.js') }}"></script>

    <!-- include custom script for site  -->
    <script src="{{ asset('tshop/HTML/assets/js/min/home.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/vue.js') }}"></script>
    <script src="{{ asset('js/vue-resource.js') }}"></script>
    <script src="{{ asset('js/my-js/shared.js') }}"></script>
    <script src="{{ asset('js/my-js/base.js') }}"></script>
    <script>

        $(function () {
            $('body').on('hidden.bs.modal', '.modal', function () {
                $(this).removeData('bs.modal');
            });
        });
    </script>
    <script src="{{ asset('tshop/HTML/assets/js/min/script.min.js') }}"></script>
{% endblock %}
<!-- include custom script for only homepage  -->
</body>
</html>
