{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{%- endblock -%}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% use 'SonataAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}
{% import "SonataAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    {{ block('parentForm') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- canvas-to-blob.min.js is only needed if you wish to resize images before upload.
     This must be loaded before fileinput.min.js -->
    <script src="{{ asset('bootstrap-fileinput/js/plugins/canvas-to-blob.min.js') }}" type="text/javascript"></script>
    <!-- the main fileinput plugin file -->
    <script src="{{ asset('bootstrap-fileinput/js/fileinput.min.js') }}"></script>
    <!-- optionally if you need translation for your language then include
        locale file as mentioned below -->
    <script src="{{ asset('bootstrap-fileinput/js/locales/fr.js') }}"></script>

    <script>
        $(document).ready(function () {
            $(".input-pp").fileinput({
                language: 'fr',
                showCaption: false,
                showUpload: false,
                showClose: false,
                browseLabel: 'Choisir une photo de profile ...'
            });
            $(".input-pc").fileinput({
                language: 'fr',
                showCaption: false,
                showUpload: false,
                showClose: false,
                browseLabel: 'Choisir une photo de couverture ...'
            });
            $(".input-photproduit").fileinput({
                language: 'fr',
                showCaption: false,
                showUpload: false,
                showClose: false,
                browseLabel: 'Choisir une photo pour le produit ...'
            });
            $(".input-photocategorie").fileinput({
                language: 'fr',
                showCaption: false,
                showUpload: false,
                showClose: false,
                browseLabel: 'Choisir une photo pour la catégorie ...'
            });
        });
    </script>
{% endblock %}
   {% block stylesheets %}
       {{ parent() }}
       <link href="{{ asset('bootstrap-fileinput/css/fileinput.min.css') }}" media="all" rel="stylesheet"
             type="text/css"/>

   {% endblock %}