{% extends 'base.html.twig' %}

{% block body %}
    <div id="index">
        <div class="banner banner-boxes">
            <div class="slider-content">
        <span class="prevControl sliderControl">
            <i class="fa fa-angle-left fa-3x "></i>
        </span>
                <span class="nextControl sliderControl">
            <i class="fa fa-angle-right fa-3x "></i>
        </span>


                <!--/.full-container-->
            </div>
        </div>
        <!--/.banner style1-->

        {#<div class="container main-container">

            <!-- Main component call to action -->
            <div class="row featuredPostContainer globalPadding style2">
                <h3 class="section-title style2 text-center"><span>LES produits</span></h3>
                <div id="productslider" class="owl-carousel owl-theme">
                    {% for p in lp %}
                        {% include(":produit:_col-produit.html.twig") %}
                    {% endfor %}
                </div>
                <!--/.productslider-->

            </div>
            <!--/.featuredPostContainer-->
        </div> #}
        <div class="container main-container">
            {% if villes|length > 0 %}
                <h1 class="well center-block text-center"> Nos diifèrentes boutiques</h1>
            {% endif %}
            <div class="row">
                {% for ville in pays %}
                    <div class="col-lg-4 col-xs-12">
                        <a href="{{ path('show_catalogue', {'name': ville.nom}) }}"
                           class="btn btn-lg btn-success"
                        >
                            {{ ville.nom }}
                        </a>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-xs-12 center-block text-center alert-danger alert">
                            <strong>
                                Aucun Pays dans cette boutique, veuillez consultez l'administrateur
                            </strong>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ratings/js/star-rating.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/my-js/index.js') }}" type="text/javascript"></script>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('ratings/css/star-rating.min.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/my-css.css') }}">
{% endblock %}