{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Boutique | ' ~pays.nom }}
{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 20px">

        <div class="row">
            <div class="col-md-2 pull-right ">

                <a href="{{ path('show_catalogue', {'name':pays.nom,'mode':'liste','page':pager.currentPage}) }}">
                    <i class="fa fa-th-list" aria-hidden="true" style="font-size: 40px;cursor: pointer;"></i>
                </a>
                <a href="{{ path('show_catalogue', {'name':pays.nom,'mode':'mosaic','page':pager.currentPage}) }}">
                    <i class="fa fa-th" aria-hidden="true"
                       style="font-size: 40px;margin-left: 20px;cursor: pointer"></i>
                </a>
            </div>
        </div>
        <br>

        <div class="row">
            {% for p in produits %}
                {% if mode == 'liste' %}
                    {% include(":produit:_row-produit.html.twig") %}
                {% else %}
                    {% include(":produit:_col-produit.html.twig") %}
                {% endif %}
            {% else %}
                <h1>Oups</h1>
                <p>
                    Ce pays n'a pas encore de produit
                </p>
            {% endfor %}
        </div>

        {% if pager.nbPages > 1 %}
            <div class="row center-block text-center">
                {{ pagerfanta(pager,'twitter_bootstrap3_translated') }}
            </div>
        {% endif %}
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/my-css.css') }}">
    <link href="{{ asset('ratings/css/star-rating.min.css') }}" media="all" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ratings/js/star-rating.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/my-js/detail-boutique.js') }}"></script>
    <script>
        $(document).ready(function () {
            $(".menu-home").removeClass("active");
            $("#{{ pays.id }}").addClass("active");

        });
    </script>
{% endblock %}
