{% extends "admin/admin-base.html.twig" %}
{% block title %} Ajouter administrateur {% endblock %}
{% block body %}
    <div class="well well-sm">
        <h1 class="text-center">Ajout d'un administrateur</h1><br>
        {{ form_start(form) }}
        {{ form_row(form.nom,{'attr':{'placeholder':"Nom"}}) }}
        {{ form_row(form.prenom,{'attr':{'placeholder':"Prénom"}}) }}
        {{ form_row(form.mail,{'attr':{'placeholder':"Email"}}) }}
        {{ form_row(form.pseudo,{'attr':{'placeholder':"Pseudo"}}) }}
        {{ form_row(form.plainPassword.first,{'attr':{'placeholder':"Mot de passe"}}) }}
        {{ form_row(form.plainPassword.second,{'attr':{'placeholder':"Confirmer mot de passe"}}) }}
        <input type="submit" class="btn btn-success center-block text-center" value="Enregistrer l'administrateur"/>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function () {
            $(".ma-boutique").removeClass("active");
            $("#menu-ajouter-admin").addClass("active");

        });
    </script>
    <script>

        new Vue({
            data: {
                showAside: true
            },
            el: "#app",
            methods: {
                toggleSideBar: toggleSideBar

            }
        });
    </script>
{% endblock %}