{% extends ":admin:admin-base.html.twig" %}
{% block title 'Ma boutique'%}
{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function () {
            $(".ma-boutique").removeClass("active");
        });
    </script>
    <script>

        new Vue({
            data: {
                showAside: true
            },
            el: "#app",
            methods: {
                toggleSideBar: toggleSideBar

            }
        });
    </script>
{% endblock %}