{% extends ":admin:admin-base.html.twig" %}
{% block title 'Mes produits' %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Mes produits</h1><br>
        <!-- /.row -->
        {% for produit in produits %}
            {% set newRow = (loop.index - 1)  % 3 == 0 %}
            {% set endRow = loop.index % 3 == 0 %}

            {% if  newRow %}
                <div class="row" style="margin-bottom: 5px">
            {% endif %}
            <div class="col-md-4">
                <div class="well text-center">
                    <a href="{{ path('admin_produit_edit', { 'id': produit.id }) }}">
                        {% if produit.media %}
                            <img class="img-responsive img-thumbnail center-block img-rounded "
                                 src="{{ asset('/medias/produits/' ~ produit.media.id ~'.'~ produit.media.url) }}"
                                 alt="{{ produit.media.alt }}">
                        {% else %}
                            <img class="img-responsive img-thumbnail center-block img-rounded "
                                 src="{{ asset('/medias/produits/default.png') }}" alt="default image">

                        {% endif %}
                    </a>
                    <strong>Nom:</strong> {{ produit.nom }} <br>
                    <strong>Prix: </strong> {{ produit.prix|number_format(2,',',' ') }} EUROS
                    <ul class="nav">
                        <li>
                            <strong>Quantite : {{ produit.quantite }}</strong>
                        </li>
                    </ul>
                </div>
            </div>
            {% if  endRow %}
                </div> <!-- end row -->
            {% endif %}
            {% else %}
            <div class="row">
                <div class="col-xs-12 center-block text-center alert-danger alert">
                    <strong >
                        Aucun produit dans votre boutique
                    </strong>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->
    {% if pager.nbPages > 1 %}
        <div class="row center-block text-center">
            {{ pagerfanta(pager,'twitter_bootstrap3_translated') }}
        </div>
    {% endif %}
    <!-- /.container -->
{% endblock %}
    {% block javascript %}
        {{ parent() }}
        <script src="{{ asset("js/my-js/index-boutique.js") }}"></script>
    {% endblock %}