{% extends 'base.html.twig' %}
{% block title %} Mon panier {% endblock %}
{% block body %}
    <br><br>
    <div class="container">
        <h1 class="text-center center-block well">Mon panier</h1> <br>
        <div class="row" v-if="produits && produits.length>0">
            <div class="col-md-3 col-md-offset-9 btn btn-warning">Valider mon panier</div>
        </div>
        <br><br>
        {% verbatim %}
        <div class="row center-block text-center" v-for="produit in produits">
                 <div class="col-md-1 center-block text-center">
                    <i class="glyphicon glyphicon-menu-up main" @click="ajouterAuPanier(produit.id)"></i><br>
                        <input type="text" disabled :value="panier[produit.id]" style="width: 30px" class="text-center"><br>
                    <i class="glyphicon glyphicon-menu-down main" @click="dimunierPanier(produit)"></i>
                </div>
                   <div class="col-md-3">
                           <img v-if="produit.media" class="img-responsive " style="height: 80px"
                                :src ="'/medias/produits/'+produit.media.id+'.'+produit.media.url"
                                :alt=" produit.media.alt">
                           <img v-else class="img-responsive" src="/medias/produits/default.jpg" style="height: 80px"
                                alt="default">
                   </div>
                   <div class="col-md-4">
                   <strong ><a :href="detail_produit(produit.id)">{{ produit.nom }}</a></strong><br>
                   </div>
                   <div class="col-md-2 pull-right">
                       <strong style="color: red;">
                           {{ (produit.prix * panier[produit.id])|number 2}} FCFA
                       </strong>
                   </div>
                   <hr width="100%">

               </div>
            <div class="container" v-if="produits && produits.length>0">

                           <div class="row center-block text-center" v-if="produits && produits.length>0">
                            <h1>RÉCAPITULATIF</h1>
                            </div>
            <div class="row well" >
            <div class="col-md-12">
                 <div class="row">
                        <h4>panier</h4>
                         ( {{total}} {{total|pluralize 'produit'}} )<br><br>
                </div>
                            <hr style="border-color: #EF5F21">

                <div class="row">
                <div class="col-md-6">
                <h4>TOTAL</h4>
</div>
<div class="col-md-6">
<strong style="color: red">{{prixTotal|number 2}} FCFA</strong>
</div>
<!-- /.col-md-6 -->
                <!-- /.col-md-6 -->
</div>
<div class="row">
<div class="col-md-3 col-md-offset-9 btn btn-warning">
Valider mon panier
</div>
<!-- /.col-md-6 -->
</div>
<!-- /.row -->
            <!-- /.row --></div>

            <!-- /.container -->

</div>
        </div>
        <div class="row" v-if="(!produits || produits.length==0) && loaded">
                <div class="col-md-6 col-md-offset-3">
                <div class=" panel-danger">
                <div class="panel-heading">
                Panier vide
        </div>
        <div class="panel-body">
        <p>
                Oups!! Votre panier est tristement vide Veuillez consulter nos produits afin d'avoir un
                panier bien rempli!!!

</p>
        </div>
        </div>
</div>
            </div>
            {% endverbatim %}
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/my-js/panier.js') }}"></script>
{% endblock %}