{% extends 'base.html.twig' %}
{% block title %} Mon panier {% endblock %}
{% block body %}
    <div class="container main-container headerOffset" id="detailPanier">
        {% if dowloadPdf is defined %}
        <div class="row" style="margin-bottom: 10px">
        <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">

            </div>
            <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
        <a class="btn btn-lg btn-success pull-right"  href="{{ path('download_td') }}">Tèlècharger la facture</a>
            </div>
        </div>
        {% endif %}
        <!--/.row breadcrumb-->
                            {% verbatim %}
        <div class="row" v-if="!loaded">
             <p class="center-block text-center">
                <strong>
                    Chargement ... <br>
                    <span class="fa fa-circle-o-notch fa-spin" style="font-size:50px;color:black;"></span>
                </strong>
            </p>
        </div>
        <div class="row" v-if="loaded">
            <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
                <h1 class="section-title-inner"><span><i
                                class="glyphicon glyphicon-shopping-cart"></i> Mon panier </span></h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
                <h4 class="caps"><a :href="urlHomepage"><i class="fa fa-chevron-left"></i> Retourner à la boutique</a></h4>
            </div>
        </div>
        <!--/.row-->
        <div class="row" v-if="loaded">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <div class="row userInfo">
                    <div class="col-xs-12 col-sm-12">
                        <div class="cartContent w100">
                            <table class="cartTable table-responsive" style="width:100%" v-if="loaded">
                                <tbody>

                                <tr class="CartProduct cartTableHeader">
                                    <td style="width:15%"> Produit</td>
                                    <td style="width:40%">Details</td>
                                    <td style="width:10%" class="delete">&nbsp;</td>
                                    <td style="width:10%">QNT</td>
                                    <td style="width:15%">Total</td>
                                </tr>
                                <tr v-if="!produits && loaded">
                                <td colspan="5">
                                <h2 class="center-block text-center">
                                Vous n'avez pas encore ajouté un produit dans votre panier !!!!<br>
                                Visitez nos boutiques et catégories pour bien le remplir.
</h2>
</td>
</tr>
                                <tr class="CartProduct" v-for="p in produits">
                                    <td class="CartProductThumb">
                                        <div>
                                            <a :href="urlDetailProduit(p.id)">
                                                <img v-if="p.media"
                                                    :src ="'/medias/produits_fit/'+p.media.id+'.'+p.media.url"
                                                     :alt=" p.media.alt">
                                                <img v-else class="img-responsive" src="/medias/produits/default.jpg"
                                                        alt="default">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="CartDescription">
                                            <h4><a :href="urlDetailProduit(p.id)">{{p.nom}}</a></h4>
                                            <div class="price">
                                                <span>
                                                    {{ p.prix|number 2}} EUROS
                                                </span>
                                             </div>
                                        </div>
                                    </td>
                                    <td class="delete"><a title="suprrimer du panier" @click="enleverDansPanier(p)"> <i
                                                    class="glyphicon glyphicon-trash fa-2x"></i></a></td>
                                    <td>
                                        <div class="input-group bootstrap   -touchspin">
                                             <span class="input-group-btn">
                                                <button @click="dimunierPanier(p)" class="btn btn-link bootstrap-touchspin-down" type="button">
                                                    -
                                                </button>
                                             </span>
                                             <input class="quanitySniper form-control" type="text" :value="panier[p.id]" name="quanitySniper" disabled="disabled">
                                             <span class="input-group-btn">
                                                <button @click="ajouterAuPanier(p.id)" class="btn btn-link bootstrap-touchspin-up" type="button">
                                                    +
                                                </button>
                                             </span>
                                        </div>
                                    </td>
                                    <td class="price">{{ (p.prix * panier[p.id])|number 2}} EUROS</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                        <!--cartContent-->

                        <div class="cartFooter w100">
                            <div class="box-footer">
                                <div class="pull-left"><a :href="urlHomepage" class="btn btn-default"> <i
                                                class="fa fa-arrow-left"></i> &nbsp; Continuer les achats </a></div>
                            </div>
                        </div>
                        <!--/ cartFooter -->

                    </div>
                </div>
                <!--/row end-->

            </div>
            <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
                <div class="contentBox">
                    <div class="w100 costDetails">
                        {% endverbatim %}
                        <div class="table-block" id="order-detail-content"><a class="btn btn-primary btn-lg btn-block "
                                                                                onclick="checkout()"
                                                                              title="checkout" href="{{ path('checkout') }}"
                                                                              style="margin-bottom:20px">
                                                                               Procéder au paiement &nbsp; <i class="fa fa-arrow-right"></i>
                                                                               </a>
                            {% verbatim %}
                            <div class="w100 cartMiniTable">
                                <table id="cart-summary" class="std table">
                                    <tbody>
                                    <tr>
                                        <td>Total des produits</td>
                                        <td class="pric e" v-if="produits">{{prixTotal|number 2}} EUROS</td>
                                        <td class="price" v-else>0.00 EUROS</td>
                                    </tr>
                                    <tr style="">
                                        <td>Frais de livraison</td>
                                        <td class="price"><span class="success">Gratuit !!!</span></td>
                                    </tr>
                                   <!-- <tr class="cart-total-price ">
                                            <td>Total (tax excl.)</td>
                                        <td class="price">$216.51</td>
                                    </tr>
                                    <tr>
                                        <td>Total tax</td>
                                        <td class="price" id="total-tax">$0.00</td>
                                    </tr>-->
                                    <tr>
                                        <td> Total</td>
                                        <td class=" site-color" id="total-price" v-if="produits">{{prixTotal|number 2}} EUROS</td>
                                        <td class=" site-color" id="total-price" v-else>0.00 EUROS</td>
                                    </tr>
                                    <!--<tr>
                                        <td colspan="2">
                                            <div class="input-append couponForm">
                                                <input class="col-lg-8" id="appendedInputButton" type="text"
                                                       placeholder="Coupon code">
                                                <button class="col-lg-4 btn btn-success" type="button">Apply!</button>
                                            </div>
                                        </td>
                                    <</tr> coupon-->
                                    </tbody>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End popular -->

            </div>
            <!--/rightSidebar-->

        </div>
        <!--/row-->

        <div style="clear:both" v-if="loaded"></div>
    </div>
    <!-- /.main-container -->

    <div class="gap" v-if="loaded"></div>
                                                                {% endverbatim %}

{% endblock %}
{% block javascripts %}
{{ parent()}}
    <script src="{{ asset('js/my-js/panier.js') }}"></script>
    <script>
    function checkout(e) {

    }
</script>
{% endblock %}