<page backtop="14mm" backbottom="14mm" backleft="10mm" backright="10mm" style="font-size: 12pt">
    <page_header>
        <div id="entete" style="width: 250px ;text-align: center">
            <small>
                FoodStatic<br><br>
                Acheter depuis n'importe où<br>
                SERVICE Comptable<br>
                B.P. 5085 – PARIS<br>
                Tel (33) 33 864 51 96 - Fax (33) 33 825 55 94<br>
                E-mail : <strong style="color: blue"> foodstatic2017@gmail.com</strong><br></small>
        </div>
        <div>
            <p>
                Nom et prenom du client : <strong>{{ user.nom }} {{ user.prenom }}</strong>
            </p>
            <p>
                Adresse : {{ user.adresse }}
            </p>
        </div>
    </page_header>
    <page_footer>
        <p>
            <strong>N.B : </strong><i>Il n’est pas délivré de duplicata de cette facture. <br>Il appartient au
                client d’établir lui-même et de faire les copies qui peuvent lui être nécessaires.</i>
        </p>
    </page_footer>
    <div class="container">
        <div class="jumbotron" style="font-size: 20px">

            <br><br><br><br><br><br><br><br>

            <h1 style="background-color: #bfbfbf"> Facture </h1>
            <table style="border-collapse: collapse;border: 1px solid black;">
                <tr>
                    <th style="border: 1px solid black;">Designation</th>
                    <th style="border: 1px solid black;">Prix unitaire</th>
                    <th style="border: 1px solid black;">Quantite</th>
                    <th style="border: 1px solid black;">total</th>
                </tr>
                {% for key, value in panier %}
                    {% for produit in produits %}
                        {% if produit.id == key %}
                            <tr>
                                <td style="border: 1px solid black;">{{ produit.nom }}</td>
                                <td style="border: 1px solid black;">{{ produit.prix }}</td>
                                <td style="border: 1px solid black;">{{ value }}</td>
                                <td style="border: 1px solid black;">{{ value * produit.prix }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td style="border: 1px solid black;" colspan="3">Total</td>
                    <td style="border: 1px solid black;">{{ total }} EUROS</td>
                </tr>
            </table>
        </div>
    </div>
</page>
