<div class="well well-lg">
    <p>
        Bienvenu(e) Mr(Mm) {{ nom }} {{ prenom }} dans notre boutique en ligne,
        votre code de validation est :<br>
    <h1 class="alert alert-success"> {{ code }}</h1>
    </p>
</div>