{% extends 'admin/admin-base.html.twig' %}

{% block body %}
    <div class="well well-sm">
        <h1 class="text-center">Modification d'un utilisateur</h1><br>
        {{ form_start(edit_form) }}
        {{ form_row(edit_form.nom,{'attr':{'placeholder':"Nom"}}) }}
        {{ form_row(edit_form.prenom,{'attr':{'placeholder':"Prénom"}}) }}
        {{ form_row(edit_form.mail,{'attr':{'placeholder':"Email"}}) }}
        {{ form_row(edit_form.pseudo,{'attr':{'placeholder':"Pseudo"}}) }}
        {{ form_row(edit_form.actif) }}
        <input type="submit" class="btn btn-success center-block text-center" value="Enregistrer les modifications"/>
        {{ form_end(edit_form) }}
    </div>

    <ul class="list-unstyled list list-inline">
        <li>
            <a class="btn btn-link" href="{{ path('admin_user_index') }}">Retour a la liste des utilisateurs</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function () {
            $(".ma-boutique").removeClass("active");
        });
    </script>
    <script>

        new Vue({
            data: {
                showAside: true
            },
            el: "#app",
            methods: {
                toggleSideBar: toggleSideBar

            }
        });
    </script>
{% endblock %}