{% extends 'admin/admin-base.html.twig' %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Email</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.roles[0] == "ROLE_ADMIN" ? "ADMINISTRATEUR":"CLIENT" }}</td>
                <td>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a class="btn btn-warning"
                               href="{{ path('admin_user_edit', { 'id': user.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled list-inline">
        <li>
            <a class="btn btn-link" href="{{ path('ajouter_admin') }}">Ajouter un administrateur</a>
        </li>
    </ul>
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function () {
            $(".ma-boutique").removeClass("active");
            $("#menu-users").addClass("active");
        });
    </script>
    <script>

        new Vue({
            data: {
                showAside: true
            },
            el: "#app",
            methods: {
                toggleSideBar: toggleSideBar

            }
        });
    </script>
{% endblock %}