{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% import 'SonataAdminBundle:CRUD:base_show_macro.html.twig' as show_helper %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{%- endblock -%}

{% block tab_menu %}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass' : 'active',
        'template': sonata_admin.adminPool.getTemplate('tab_menu_template')
    }, 'twig') }}
{% endblock %}

{% block show %}
    <div class="sonata-ba-view">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% set has_tab = (admin.showtabs|length == 1 and admin.showtabs|keys[0] != 'default') or admin.showtabs|length > 1 %}

        {% if has_tab %}
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" role="tablist">
                    {% for name, show_tab in admin.showtabs %}
                        <li{% if loop.first %} class="active"{% endif %}>
                            <a href="#tab_{{ admin.uniqid }}_{{ loop.index }}" data-toggle="tab">
                                <i class="fa fa-exclamation-circle has-errors hide" aria-hidden="true"></i>
                                {{ admin.trans(name, {}, show_tab.translation_domain) }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for code, show_tab in admin.showtabs %}
                        <div
                                class="tab-pane fade{% if loop.first %} in active{% endif %}"
                                id="tab_{{ admin.uniqid }}_{{ loop.index }}"
                        >
                            <div class="box-body  container-fluid">
                                <div class="sonata-ba-collapsed-fields">
                                    {% if show_tab.description != false %}
                                        <p>{{ show_tab.description|raw }}</p>
                                    {% endif %}

                                    {{ show_helper.render_groups(admin, object, elements, show_tab.groups, has_tab) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elseif admin.showtabs is iterable %}
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Nom</th>
                    <td>
                        {{ object.nom }}
                    </td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>
                        {{ object.prenom }}
                    </td>
                </tr>
                <tr>
                    <th>Pseudo</th>
                    <td>
                        {{ object.pseudo }}
                    </td>
                </tr>
                <tr>
                    <th>Actif</th>
                    <td>
                        {{ object.actif ? '<span style="background-color:#008d4c;color:white">OUI</span>' : '<span style="background-color:red;color:white">NON</span>' }}
                    </td>
                </tr>
                <tr>
                    <th>Mail</th>
                    <td>
                        {{ object.mail }}
                    </td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>
                        {% for role in object.roles %}
                            {{ loop.index }} => {{ role }} <br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Photo de profile</th>
                    <td>
                        {% if object.photoProfile %}
                        <img class="img-responsive img-thumbnail img-bordered"
                             src="{{ asset('/medias/pp/'~object.photoProfile.id~'.'~object.photoProfile.url) }}" alt="">
                    </td>
                    <td><a href="{{ path('supprimer_photo_profile', {'userId': object.id}) }}" class="btn btn-danger">Supprimer</a></td>
                    {% else %}
                        <h3>Cet utilisateur n'a pas de photo de profil</h3>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Photo de couverture</th>
                    <td>
                        {% if object.photoCouverture %}
                        <img class="img-responsive img-thumbnail img-bordered"
                             src="{{ asset('/medias/pc/'~object.photoCouverture.id~'.'~object.photoCouverture.url) }}"
                             alt="">
                    </td>
                    <td><a href="{{ path('supprimer_photo_couverture', {'userId': object.id}) }}" class="btn btn-danger">Supprimer</a></td>
                    {% else %}
                        <h3>Cet utilisateur n'a pas de photo de couverture</h3>
                        </td>
                    {% endif %}
                </tr>
            </table>
        {% endif %}

    </div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}

