<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="well text-center">
        <a href="{{ path('produit_show', { 'id': produit.id }) }}">
            {% if produit.media %}
                <img class="img-responsive img-thumbnail center-block img-rounded "
                     src="{{ asset('/medias/produits/' ~ produit.media.id ~'.'~ produit.media.url) }}"
                     alt="{{ produit.media.alt }}">
            {% else %}
                <img class="img-responsive img-thumbnail center-block img-rounded "
                     src="{{ asset('/medias/produits/default.jpg') }}" alt="default image">

            {% endif %}
        </a>
        <a href="{{ path('produit_show',{'id':produit.id}) }}">{{ produit.nom|truncate(20) }}</a> <br>
        <strong style="color: red">{{ produit.prix|number_format(2,',',' ') }} FCFA</strong>
        <br>
        <input class="ratingg" type="number" value="{{ produit.note }}">
        <button  @click="ajouterAuPanier" id="{{ produit.id }}" class="btn btn-warning"><span
                    class="glyphicon glyphicon-shopping-cart"></span> Ajouter au panier
        </button>
    </div>
</div>