<div class="row">
    <div class="col-md-3 col-xs-5">
        <a href="{{ path('produit_show', { 'id': produit.id }) }}">
            {% if produit.media %}
                <img class="img-responsive  center-block img-rounded "
                     src="{{ asset('/medias/produits/' ~ produit.media.id ~'.'~ produit.media.url) }}"
                     alt="{{ produit.media.alt }}"
                     style="height: 200px;">
            {% else %}
                <img class="img-responsive img-thumbnail center-block img-rounded "
                     src="{{ asset('/medias/produits/default.jpg') }}" alt="default image">

            {% endif %}
        </a>
    </div>
    <div class="col-md-5 col-xs-7">
        <p>
            <a href="{{ path('produit_show', { 'id': produit.id }) }}">
                <h5>{{ produit.nom }}</h5>
            </a><br>
        </p>
        <a href="{{ path('categorie_produit', {'id': produit.categorie.id}) }}">
            <h6>{{ produit.categorie.nom }}</h6>
        </a><br>
        <p>
            <input class="ratingg" type="number" value="{{ produit.note }}">
        </p>
        <p>
            Vendeur : <a href="{{ path('show_boutique', {'id': produit.user.id}) }}"><h6>{{ produit.user.pseudo }}</h6></a>
        </p>
    </div>
    <div style="margin-bottom: 5px" class="col-md-4 col-xs-2">
        <h1 style="color: orangered">{{ produit.prix|number_format(2,',','') }} FCFA</h1>
        <button style="margin-top: 10%" @click="ajouterAuPanier" id="{{ produit.id }}" class="ajouter-panier btn-lg btn btn-warning"><span
                    class="glyphicon glyphicon-shopping-cart"></span> Ajouter au panier
        </button>
    </div>
    <hr  style="width: 100%">

</div>