{% extends 'base.html.twig' %}
{% block title%}
    {{ 'Catégorie | ' ~categorie.nom }}
{% endblock %}
{% block body %}
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 pull-right ">

                <a href="{{ path('categorie_produit', {'id': categorie.id,'mode':'liste','page':pager.currentPage}) }}">
                    <i class="fa fa-th-list" aria-hidden="true" style="font-size: 40px;cursor: pointer;"></i>
                </a>
                <a href="{{ path('categorie_produit', {'id': categorie.id,'mode':'mosaic','page':pager.currentPage}) }}">
                    <i class="fa fa-th" aria-hidden="true" style="font-size: 40px;margin-left: 20px;cursor: pointer"></i>
                </a>
            </div>
        </div>
        <br>
        <!-- /.row -->
        {% for produit in produits %}
            {% if mode == 'liste' %}
            {% include(":produit:_row-produit.html.twig") %}
            {% else %}
                {% include(":produit:_col-produit.html.twig") %}
            {% endif %}

        {% else %}
            <h1>Oups</h1>
            <p>
                Cette catégorie n'a pas encore de produit
            </p>
        {% endfor %}
    </div>
    {% if pager.nbPages > 1 %}
        <div class="row center-block text-center">
            {{ pagerfanta(pager,'twitter_bootstrap3_translated') }}
        </div>
    {% endif %}
    </div>

    <!-- /.container -->
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/my-css.css') }}">
    <link href="{{ asset('ratings/css/star-rating.min.css') }}" media="all" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('ratings/js/star-rating.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/my-js/shared.js') }}"></script>
    <script src="{{ asset('js/my-js/categorie_produit.js') }}"></script>
    <!-- optionally if you need translation for your language then include locale file as mentioned below -->
{% endblock %}