{% extends 'base.html.twig' %}


{% block title%}
    {{ 'Détail du produit | ' ~ produit.nom }}
{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-5 produit-container">
                <div class="well text-center">
                        {% if produit.media %}
                            <img class="img-responsive img-thumbnail center-block img-rounded "
                                 src="{{ asset('/medias/produits/' ~ produit.media.id ~'.'~ produit.media.url) }}"
                                 alt="{{ produit.media.alt }}">
                        {% else %}
                            <img class="img-responsive img-thumbnail center-block img-rounded "
                                 src="{{ asset('/medias/produits/default.jpg') }}" alt="default image">

                        {% endif %}<br>
                    <h4>{{ produit.nom }}</h4>
                    <strong style="color: red">{{ produit.prix|number_format(2,',',' ') }} FCFA</strong>
                    <br>
                    <input class="ratingg" type="number" value="{{ produit.note }}">
                </div>
            </div>         <!-- /.col-md-5 -->
            <div class="col-md-5 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Description du produit
                    </div>
                    <div class="panel-body">
                        {{ produit.description }}<br><br>
                    </div>
                    <div class="panel-footer">
                        <button @click="ajouterAuPanier" id="{{ produit.id }}" class=" btn btn-warning"><span
                                    class=" glyphicon glyphicon-shopping-cart"></span> Ajouter au panier
                        </button>
                    </div>
                    <!-- /.panel-body -->
                    <!-- /.panel-heading -->
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-md-5 -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('ratings/js/star-rating.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/my-js/detail-produit.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/my-css.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('ratings/css/star-rating.min.css') }}" media="all" rel="stylesheet" type="text/css"/>

{% endblock %}