.overlay-zindex{
    z-index: 10;
}
.ajouter-panier-banner-zindex{
    z-index: 35;
}
.modal {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}