<div class="col-lg-4 col-xs-12">
    <div class="item">
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
               data-placement="left">
                <i class="glyphicon glyphicon-heart"></i>
            </a>

            <div class="image">
                <div class="quickview">
                    <a data-toggle="modal" class="btn btn-xs btn-quickview"
                       role="button"
                       href="{{ path('produit_quickview', {'id': p.id}) }}"
                       data-target="#productSetailsModalAjax">Aperçu Rapide </a>
                </div>
                <a href="{{ path('produit_show', {'id': p.id}) }}">
                    {% if p.media %}
                        <img style="padding-top: 10px;"
                             src="{{ asset('medias/produits_fit/'~p.media.id~'.'~p.media.url) }}"
                             alt="{{ p.media.alt }}" class="img-responsive">
                    {% else %}
                        <img src="{{ asset('medias/produits/default.png') }}"
                             alt="img" class="img-responsive">
                    {% endif %}
                </a>
            </div>
            <div class="description">
                <h4><a href="{{ path('produit_show', {'id': p.id}) }}">{{ p.nom }} </a></h4>

                <p>{{ p.description|truncate(100) }}</p>
                <strong>stock : {{ p.quantite }}</strong>
                <div class="price"><span>{{ p.prix|number_format(2,',',' ') }} FCFA</span></div>
                <div class="action-control">
                    <button @click="ajouterAuPanier({{ p.id }})" class="btn btn-primary" id="{{ p.id }}">
                    <span class="add2cart">
                        <i class="glyphicon glyphicon-shopping-cart"> </i>
                        Ajouter au panier
                    </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>