<div class="row">
    <div class="col-md-3 col-xs-5">
        <a href="{{ path('produit_show', { 'id': p.id }) }}">
            {% if p.media %}
                <img class="img-responsive  center-block img-rounded "
                     src="{{ asset('/medias/produits/' ~ p.media.id ~'.'~ p.media.url) }}"
                     alt="{{ p.media.alt }}"
                     style="height: 200px;">
            {% else %}
                <img class="img-responsive img-thumbnail center-block img-rounded "
                     src="{{ asset('/medias/produits/default.png') }}" alt="default image">

            {% endif %}
        </a>
    </div>
    <div class="col-md-5 col-xs-7">
        <p>
            <a href="{{ path('produit_show', { 'id': p.id }) }}">
                <h5>{{ p.nom }}</h5>
            </a><br>
        </p>
        <p>
            <strong> stock : {{ p.quantite }}</strong>
        </p>
        <a href="{{ path('categorie_produit', {'id': p.categorie.id}) }}">
            <h6>{{ p.categorie.nom }}</h6>
        </a><br>
    </div>
    <div style="margin-bottom: 5px" class="col-md-4 col-xs-2">
        <h1 style="color: orangered">{{ p.prix|number_format(2,',','') }} EUROS</h1>
        <button style="margin-top: 10%" @click="ajouterAuPanier({{ p.id }})" class="ajouter-panier btn-lg btn btn-warning"><span
                    class="glyphicon glyphicon-shopping-cart"></span> Ajouter au panier
        </button>
    </div>
    <hr  style="width: 100%">

</div>