<link href="{{ asset('tshop/HTML/assets/plugins/rating/bootstrap-rating.css') }}" rel="stylesheet">
<div class="col-lg-5 col-md-5 col-sm-5  col-xs-12">

    <!-- product Image -->

    <div class="main-image  col-lg-12 no-padding style3">
        <a class="product-largeimg-link" href="{{ path('produit_show', {'id': p.id}) }}"><img
                    src="{{ asset('medias/produits_quickview/'~p.media.id~'.'~p.media.url) }}"
                    class="img-responsive product-largeimg img-thumbnail"
                    alt="img">
        </a>

        <div class="center-block text-center" style="padding-top: 20px">
            <form action="">
                <div class="form-group">
                    <label>
                        Note du produit
                    </label> <br>

                    <div class="rating-here">
                        <input disabled="disabled" type="hidden" class="rating-tooltip-manual" data-filled="fa fa-star fa-2x"
                               data-empty="fa fa-star-o fa-2x" data-fractions="4" value="{{ p.note }}"/>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--/.main-image-->

    {# <div class="modal-product-thumb">
         <a class="thumbLink selected"><img data-large="images/product_details/low-res-white/1.jpg" alt="img"
                                            class="img-responsive" src="images/product_details/low-res-white/1.jpg">
         </a>
         <a class="thumbLink"><img data-large="images/product_details/low-res-white/2.jpg" alt="img"
                                   class="img-responsive"
                                   src="images/product_details/low-res-white/2.jpg">
         </a>
         <a class="thumbLink"><img data-large="images/product_details/low-res-white/3.jpg" alt="img"
                                   class="img-responsive"
                                   src="images/product_details/low-res-white/3.jpg">
         </a>
     </div> #}
    <!--/.modal-product-thumb-->
</div>
<!--/ product Image-->


<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 modal-details no-padding" id="quick_view">
    <div class="modal-details-inner">
        <h1 class="product-title">{{ p.nom }}</h1>
        <div class="product-price">
                <span class="price-sales">
                    {{ p.prix|number_format(2,',',' ') }} FCFA
                </span>
            {#<span
                    class="price-standard">$95
            </span>#}
        </div>
        <div class="details-description">
            <p>{{ p.description|truncate(300) }}</p>
        </div>
        {# <div class="color-details"><span class="selected-color"><strong>COLOR</strong></span>
             <ul class="swatches Color">
                 <li class="selected">
                     <a style="background-color:#f1f40e"> </a>
                 </li>
                 <li>
                     <a style="background-color:#adadad"> </a>
                 </li>
                 <li>
                     <a style="background-color:#4EC67F"> </a>
                 </li>
             </ul>
         </div>#}
        <!--/.color-details-->

        <div class="productFilter productFilterLook2">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <div class="filterBox">
                        <select class="form-control" v-model="quantite">
                            <option value="0" selected>Quantité</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                </div>
                {# <div class="col-lg-6 col-sm-6 col-xs-6">
                     <div class="filterBox">
                         <select class="form-control">
                             <option value="strawberries" selected>Size</option>
                             <option value="mango">XL</option>
                             <option value="bananas">XXL</option>
                             <option value="watermelon">M</option>
                             <option value="apples">L</option>
                             <option value="apples">S</option>
                         </select>
                     </div>
                 </div>#}
            </div>
            <br>
        </div>
        <!-- productFilter -->

        <div class="cart-actions">
            <div class="addto row">
                <div class="col-lg-6">
                    <button @click="ajouterAuPanier({{p.id}},{% verbatim %}quantite{%endverbatim%})"
                            class="button btn-block btn-cart cart first" title="Ajouter au panier"
                            type="button">
                        Ajouter au panier
                    </button>
                </div>
                <div class="col-lg-6"><a class="link-wishlist wishlist btn-block ">Ajouter aux favoris</a>
                </div>
            </div>
        </div>
        <!--/.cart-actions-->

        {# <div class="product-share clearfix">
             <p> SHARE </p>

             <div class="socialIcon">
                 <a href="#"> <i class="fa fa-facebook"></i>
                 </a>
                 <a href="#"> <i class="fa fa-twitter"></i>
                 </a>
                 <a href="#"> <i class="fa fa-google-plus"></i>
                 </a>
                 <a href="#"> <i class="fa fa-pinterest"></i>
                 </a>
             </div>
         </div>#}
        <!--/.product-share-->
    </div>
    <!--/.modal-details-inner-->
</div>
<!--/.modal-details-->
<div class="clear"></div>
<script src="{{ asset('tshop/HTML/assets/plugins/rating/bootstrap-rating.min.js') }}"></script>
<script src="{{ asset('js/vue.js') }}"></script>
<script src="{{ asset('js/vue-resource.js') }}"></script>
<script src="{{ asset('js/my-js/shared.js') }}"></script>
<script src="{{ asset('js/my-js/quick_view.js') }}"></script>
<script>
    $(function () {
        $('.rating-tooltip-manual').rating({
            extendSymbol: function () {
                var title;
                $(this).tooltip({
                    container: 'body',
                    placement: 'bottom',
                    trigger: 'manual',
                    title: function () {
                        return title;
                    }
                });
                $(this).on('rating.rateenter', function (e, rate) {
                            title = rate;
                            $(this).tooltip('show');
                        })
                        .on('rating.rateleave', function () {
                            $(this).tooltip('hide');
                        });
            }
        });

    });
</script>