{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-5">
                {% if p.media %}
                    <img class="img-responsive  center-block img-rounded "
                         src="{{ asset('/medias/produits/' ~ p.media.id ~'.'~ p.media.url) }}"
                         alt="{{ p.media.alt }}"
                         style="height: 200px;">
                {% else %}
                    <img class="img-responsive img-thumbnail center-block img-rounded "
                         src="{{ asset('/medias/produits/default.png') }}" alt="default image">

                {% endif %}
            </div>
            <div class="col-md-5 col-xs-7">
                <h5>{{ p.nom }}</h5>
                <strong> stock : {{ p.quantite }}</strong>
            </div>
            <div style="margin-bottom: 5px" class="col-md-4 col-xs-2">
                <h1 style="color: orangered">{{ p.prix|number_format(2,',','') }} EUROS</h1>
                <button style="margin-top: 10%" @click="ajouterAuPanier({{ p.id }})"
                        class="ajouter-panier btn-lg btn btn-warning"><span
                            class="glyphicon glyphicon-shopping-cart"></span> Ajouter au panier
                </button>
            </div>
            <hr style="width: 100%">

        </div>
        <h1 class="center-block text-center well">Les produits similaires</h1>

        <div class="row">
            {% for p in rp %}
                {% include(":produit:_col-produit.html.twig") %}
            {% else %}
                <h1>Oups</h1>
                <p>
                    Aucun produit similair
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ratings/js/star-rating.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/my-js/detail-boutique.js') }}"></script>
    <script>
        $(document).ready(function () {
            $(".menu-home").removeClass("active");

        });
    </script>
{% endblock %}