{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pays edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul class="list-unstyled list list-inline">
        <li>
            <a class="btn btn-link" href="{{ path('pays_index') }}">Retour a la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function () {
            $(".ma-boutique").removeClass("active");
        });
    </script>
    <script>

        new Vue({
            data: {
                showAside: true
            },
            el: "#app",
            methods: {
                toggleSideBar: toggleSideBar

            }
        });
    </script>
{% endblock %}