{% extends 'admin/admin-base.html.twig' %}

{% block body %}
    <h1>Liste des catègories</h1>

    <table class="table-responsive table table-bordered">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td><strong>{{ categorie.nom }}</strong></td>
                <td>
                    <ul class="list-inline list-unstyled">
                        <li>
                            <a class="btn btn-info"
                               href="{{ path('categorie_show', { 'id': categorie.id }) }}">Dètail</a>
                        </li>
                        <li>
                            <a class="btn btn-warning" href="{{ path('categorie_edit', { 'id': categorie.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-info" href="{{ path('categorie_new') }}">Ajouter une nouvelle catègorie</a>
        </li>
    </ul>
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function () {
            $(".ma-boutique").removeClass("active");
            $("#menu-categorie").addClass("active");
        });
    </script>
    <script>

        new Vue({
            data: {
                showAside: true
            },
            el: "#app",
            methods: {
                toggleSideBar: toggleSideBar

            }
        });
    </script>
{% endblock %}