{% extends 'admin/admin-base.html.twig' %}

{% block body %}
    <h1>{{ categorie.nom }}</h1>

    <ul class="list-unstyled list-inline">
        <li>
            <a class="btn btn-link" href="{{ path('categorie_index') }}">Retour a la liste des categories</a>
        </li>
        <li>
            <a class="btn btn-warning" href="{{ path('categorie_edit', { 'id': categorie.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% if produits|length > 0 %}
    <table class="table table-responsive">
        <tbody>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.nom }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('admin_produit_edit', {'id': produit.id}) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function () {
            $(".ma-boutique").removeClass("active");
        });
    </script>
    <script>

        new Vue({
            data: {
                showAside: true
            },
            el: "#app",
            methods: {
                toggleSideBar: toggleSideBar

            }
        });
    </script>
{% endblock %}