{% extends 'base.html.twig' %}

{% block body %}
    <div class="well well-sm">
        <h1 class="text-center">Modification d'un producteur</h1><br>

        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.adresse) }}
        {{ form_row(form.telephone) }}
        <input type="submit" class="btn btn-success center-block text-center" value="Enregistrer les modifications"/>
        {{ form_end(form) }}
    </div>

    <ul class="list-unstyled list list-inline">
        <li>
            <a class="btn btn-link" href="{{ path('producer_index') }}">Retour a la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function () {
            $(".ma-boutique").removeClass("active");
        });
    </script>
    <script>

        new Vue({
            data: {
                showAside: true
            },
            el: "#app",
            methods: {
                toggleSideBar: toggleSideBar

            }
        });
    </script>
{% endblock %}