{% extends 'admin/admin-base.html.twig' %}

{% block body %}
    <h1>Liste des producteurs</h1>
    {% if producers|length  > 0 %}
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for producer in producers %}
                <tr>
                    <td>{{ producer.nom }}</td>
                    <td>{{ producer.prenom }}</td>
                    <td>{{ producer.adresse }}</td>
                    <td>{{ producer.telephone }}</td>
                    <td>
                        <ul class="list-unstyled list-inline">
                            <li>
                                <a class="btn btn-info"
                                   href="{{ path('producer_show', { 'id': producer.id }) }}">Dètail</a>
                            </li>
                            <li>
                                <a class="btn btn-warning" href="{{ path('producer_edit', { 'id': producer.id }) }}">Modifier</a>
                            </li>
                        </ul>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="row">
            <div class="col-xs-12 center-block text-center alert-danger alert">
                <strong>
                    Aucun producteurs pour votre boutique
                </strong>
            </div>
        </div>
    {% endif %}
    <ul class="list-unstyled list-inline">
        <li>
            <a class="btn btn-link" href="{{ path('producer_new') }}">Ajouter un producteur</a>
        </li>
    </ul>
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function () {
            $(".ma-boutique").removeClass("active");
            $("#menu-producer").addClass("active");
        });
    </script>
    <script>

        new Vue({
            data: {
                showAside: true
            },
            el: "#app",
            methods: {
                toggleSideBar: toggleSideBar

            }
        });
    </script>
{% endblock %}