{% extends 'admin/admin-base.html.twig' %}

{% block body %}
    <div class="well well-sm">
        <h1 class="text-center">Ajout d'un producteur</h1><br>

        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.adresse) }}
        {{ form_row(form.telephone) }}
        <input type="submit" class="btn btn-success center-block text-center" value="Enregistrer le producteur"/>
        {{ form_end(form) }}
    </div>

    <ul class="list-inline list-unstyled">
        <li>
            <a class="btn btn-link" href="{{ path('producer_index') }}">Retour a liste des producteurs</a>
        </li>
    </ul>
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function () {
            $(".ma-boutique").removeClass("active");
            $("#menu-ajouter-producer").addClass("active");

        });
    </script>
    <script>

        new Vue({
            data: {
                showAside: true
            },
            el: "#app",
            methods: {
                toggleSideBar: toggleSideBar

            }
        });
    </script>
{% endblock %}