{% extends ":Vendeur:ma-boutique-base.html.twig" %}
{% block title 'Ma boutique'%}
{% block pageHeader %}
    {% if app.user.photoCouverture %}
    {% endif %}
    <div class="row" id="pc"
         style="height:350px; margin: 5px; background: #00ACED no-repeat;background-size: cover; background-image: url('{{ app.user.photoCouverture ?'/medias/pc/'~app.user.photoCouverture.id ~'.'~app.user.photoCouverture.url:'' }}');">

        <div id="pp"
             style="background-color: #1b6d85; height:150px; margin: 5px; width:200px;bottom: 2%;position:absolute;background-size:cover; background-image: url('{{ app.user.photoProfile ?'/medias/pp/'~app.user.photoProfile.id ~'.'~app.user.photoProfile.url:'' }}');border:solid white;">
            <form style="position:absolute; bottom: -10%; right: 10%" class="pp">
                <div class="form-group">
                    <i v-if="uploadingPp" class="fa fa-spinner fa-pulse" style="font-size:100px;color:greenyellow"></i>
                    <label class="btn btn-xs btn-primary" for="inputpp">Modifier la photo de profile</label>
                    <input :disabled="uploadingPp" id="inputpp" @change="uploadPP" name="pp" type="file" class="upload-file" accept="image/*">
                </div>
            </form>
        </div>

        <form style="position:absolute; bottom: 2%; right: 2%" class="pc">
            <div class="form-group">
                <div v-if="uploadingPc">
                    <i class="fa fa-spinner fa-pulse" style="font-size:100px;color:greenyellow"></i><br>
                </div>
                <label class="btn btn-xs btn-primary" for="inputpc">Modifier la photo de couverture</label>
                <input :disabled="uploadingPc" id="inputpc" @change="uploadPC" type="file" name="pc" class="upload-file" accept="image/*">
            </div>
        </form>

    </div>
    <!-- /.row -->
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Mes produits</h1><br>
        <!-- /.row -->
        {% for produit in produits %}
            {% set newRow = (loop.index - 1)  % 3 == 0 %}
            {% set endRow = loop.index % 3 == 0 %}

            {% if  newRow %}
                <div class="row" style="margin-bottom: 5px">
            {% endif %}
            <div class="col-md-4">
                <div class="well text-center">
                    <a href="{{ path('produit_edit', { 'id': produit.id }) }}">
                        {% if produit.media %}
                            <img class="img-responsive img-thumbnail center-block img-rounded "
                                 src="{{ asset('/medias/produits/' ~ produit.media.id ~'.'~ produit.media.url) }}"
                                 alt="{{ produit.media.alt }}">
                        {% else %}
                            <img class="img-responsive img-thumbnail center-block img-rounded "
                                 src="{{ asset('/medias/produits/default.jpg') }}" alt="default image">

                        {% endif %}
                    </a>
                    <strong>Nom:</strong> {{ produit.nom }} <br>
                    <strong>Prix: </strong> {{ produit.prix|number_format(2,',',' ') }} FCFA
                    <ul class="nav">
                        <li>
                            <a class="btn-disponible btn-xs {{ produit.disponible ? 'btn-danger': 'btn-success' }}"
                               @click="changeDisponible"
                               id="{{ produit.id }}">
                                {{ produit.disponible ? 'Non disponible': 'Disponible' }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if  endRow %}
                </div> <!-- end row -->
            {% endif %}
        {% endfor %}
    </div>
    <!-- /.row -->
    {% if pager.nbPages > 1 %}
        <div class="row center-block text-center">
            {{ pagerfanta(pager,'twitter_bootstrap3_translated') }}
        </div>
    {% endif %}
    <!-- /.container -->
{% endblock %}
    {% block javascript %}
        {{ parent() }}
        <script src="{{ asset("js/my-js/index-boutique.js") }}"></script>
    {% endblock %}