{% extends ':Vendeur:ma-boutique-base.html.twig' %}
{% block title "Création d'un nouveau produit"%}
    {% block breadcrumb %}
        <li><a href="{{ path('homepage') }}">
                <svg class="glyph stroked home">
                    <use xlink:href="#stroked-home"></use>
                </svg>
            </a></li>
        <li>
            <a href="{{ path('ma_boutique') }}">Ma boutique</a>
        </li>
        <li class="active">Ajouter un produit</li>
    {% endblock %}
{% block pageHeader %}
    <br>
{% endblock %}
{% block body %}
    <div class="well well-sm">
        <h1 class="text-center">Création d'un nouveau produit</h1><br>
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.disponible) }}
        {{ form_row(form.description) }}
        {{ form_row(form.categorie) }}
        {{ form_row(form.file,{'id':"input-id"}) }}
        <input type="submit" class="btn btn-success center-block text-center" value="Enregistrer le produit"/>
        {{ form_end(form) }}
    </div>
    <br>
    <ul class="list-inline">
        <li>
            <a href="{{ path('ma_boutique') }}"><span class="glyphicon glyphicon-home"></span> Retour à la liste des
                produits</a>
        </li>
    </ul>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <!-- canvas-to-blob.min.js is only needed if you wish to resize images before upload.
       This must be loaded before fileinput.min.js -->
    <script src="{{ asset('bootstrap-fileinput/js/plugins/canvas-to-blob.min.js') }}" type="text/javascript"></script>
    <!-- the main fileinput plugin file -->
    <script src="{{ asset('bootstrap-fileinput/js/fileinput.min.js') }}"></script>
    <!-- optionally if you need translation for your language then include
        locale file as mentioned below -->
    <script src="{{ asset('bootstrap-fileinput/js/locales/fr.js') }}"></script>

    <script src="{{ asset('js/my-js/new-produit.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bootstrap-fileinput/css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css"/>
{% endblock %}